*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #8080802e;
}
#header{
    display: flex;
    background-color: #8080801c;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    height: 12vh;
}
#header-img{
    margin-top: 21px;
    width: 20vw;
}
#nav-bar{
    padding: 0px 4rem;
}
.nav-link{
    margin: 2rem;
    text-decoration: none;
}



/* Navbar responsive */
@media only screen and (max-width:1000px)and (min-width:671px){
    #header{
        /* display: flex; */
        background-color: #8080801c;
        /* align-items: center; */
        /* justify-content: space-between; */
        position: sticky;
        top: 0px;
        height: 12vh;
    }
    #nav-bar{
        padding: 3rem 8rem;
    }
    .nav-link{
        margin: 0.6rem;
        text-decoration: none;
    }
    #header-img{
        width: 25vw;
    }
    /* body{
        background-color: rgb(190, 12, 12);
    } */
}
@media only screen and (max-width:670px)and (min-width:501px){
  #header{
    display: block; 
    background-color: #8080801c;
    /* align-items: center; */
    /* justify-content: space-between; */
    position: sticky;
    top: 0px;
    /* height: 12vh; */
    height: 26vh;
  }

    #nav-bar{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 0px;
    }
    .nav-link{
        display: flex;
        align-items: center;
        padding: 0px 23px;
        /* margin: 0rem 2rem; */
        text-decoration: none;
    }
    #header-img{
        /* width: 28vw; */
        width: 100%;
    }
    /* body{
        background-color: #ccded6;
    } */
}

@media only screen and (max-width:500px){
    #header{
        display: block; 
        background-color: #8080801c;
        /* align-items: center; */
        /* justify-content: space-between; */
        position: sticky;
        top: 0px;
        /* height: 12vh; */
        height: 26vh;
      }
    
        #nav-bar{
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding: 0px;
        }
        .nav-link{
            display: flex;
            align-items: center;
            /* padding: 0px 23px; */
            /* margin: 0rem 2rem; */
            text-decoration: none;
        }
        #header-img{
            /* width: 28vw; */
            width: 100%;
        }
    /* body{
        background-color: rgb(145, 255, 0);
    }
    */
}

h2{
    text-align: center;
}
form{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#email{
    margin: 14px;
    /* width: 35vw; */
    height: 3vh;
}
#submit{
    background-color: #fff80f;
    padding: 0px 6px;
    width: 6rem;
    font-weight: bold;
    margin: 14px 0px;
}
#features{
    display: grid;
    /* grid-template-columns: 2fr 2fr; */
    grid-template-rows: 3fr;
    grid-gap: 1rem;
    
}

.box{
        text-align: center;
    margin: 9px;
    padding: 14px 4px;

}
.icon{
    padding: 7px 22px;
    display: inline-block;
}
.desc{
    display: inline-block;
}
#Howitworks
{    margin-top: 50px;
    display: flex;
    justify-content: center;
   
}
#video{
    max-width: 560px;
    width: 100%;
}
#pricing{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card{
    /* background-color: gray; */
    text-align: center;
    background-color: #fffffff2;
    display: inline-block;
    /* margin: 3rem; */
    margin: 1rem 5px;
    border: 2px solid black;
}
.one{
    padding: 13px;
    margin-bottom: 27px;
    background-color: gray;
}
.two{
    padding: 0px 96px;
}
.two p{
    padding: 2px;
}
.btn{
    padding: 10px 20px;
    margin: 11px;
    background-color: #fff80f;
    color: black;
    cursor: pointer;
}
.btn:hover{
    background-color: orange;
}

#features .icon i::before{
    content:  "\f06d";
}


footer{
    background-color: gray;
    height: 10vh;
}
#foot{
       /* display: flex; */
    /* place-self: flex-end; */
    /* background-color: #270fff; */
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 13px;
}
#copy{
    padding: 6px;
}
@media only screen and (max-width:500px){

#vedio{
    max-width: 93%;
        }
        .two{

            padding: 0px 4.7rem;
        }
    }